---
title: "Continuous Evolution"
menu: 
    main:
        weight: 1
        pre: '<i class="fa fa-home" aria-hidden="true"></i>'
subnav: "false"
description: "ContinuousEvolution is..."
---
<style>
    video {
        width: 100%;
    }

    .content {
        padding: 0 40px;
    }

    .parts {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .part {
        flex: 1;
        border: 1px solid rgba(150,150,150,0.2);
        margin: 10px;
        min-width: 200px;
    }
    .part h3 {
        margin: 0;
        padding: 30px 0;
    }
    .part h3 i {
        margin-right: 10px;
    }
    .part ul {
        text-align: left;
    }

    .pkgManagers {
        list-style: none;
    }
    .pkgManager {
        display: inline-block;
    }
    .pkgManager a {
        display: inline-block;
        height: 80px;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        text-align: center;
        min-width: 150px;
    }
    .pkgManager img {
        border: none;
    }
    .pkgManager p {
        font-style: none;
        padding: 8px 0 0 0;
    }

    .formTypes {
        padding: 20px 0;
        text-align: center;
    }
    .formTypes input {
        display: none;
    }
    .formTypes label {
        display: inline-block;
        cursor: pointer;
        padding: 15px;
        margin: 0 20px;
        border-radius: 1px;
        border: 1px solid #ccc;
    }
    .formTypes label.selected {
        background-color: #358E79;
        color: #fff;
        border: none;
    }
    .formBlock {
        padding: 20px 0;
    }
    .formInputText {
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 5px;
        margin: 5px 0;
    }
    .formBtn {
        cursor: pointer;
        border: none;
        border-radius: 1px;
        padding: 15px;
        background-color: #358E79;
        color: #fff;
    }
    .formError {
        padding: 10px;
        border: 1px solid #B40A0A;
        color: #B40A0A;
    }
</style>

<h1 id="tryit">Continuous Evolution</h1>

<blockquote><b>Continuous Evolution</b> is an <b>open-source</b> tool which update all your <b>dependencies</b> every week with <b>(merge | pull)-request</b>.</blockquote>

<div class="parts">
    <div class="part">
        <h3><i class="fa fa-refresh" aria-hidden="true"></i>Continuous</h3>
        <ul>
            <li>All your dependencies updated every week</li>
            <li>Integrated with your Continuous-Integration</li>
            <li>Never forget to update your dependencies</li>
        </ul>
    </div>
    <div class="part">
        <h3><i class="fa fa-code-fork" aria-hidden="true"></i>Evolution</h3>
        <ul>
            <li>Merge-request</li>
            <li>Pull-request</li>
            <li>Just git</li>
            <li>Your choices : unselect dependencies you don't want to update</li>
        </ul>
    </div>
    <div class="part">
        <h3><i class="fa fa-list" aria-hidden="true"></i>Multi</h3>
        <ul>
            <li>Lot of package manager : npm, pip, maven, gradle, sbt, dep</li>
            <li>Built in for other : docker, docker-compose</li>
            <li>All files updated with 1 (merge | pull)-request</li>
        </ul>
    </div>
    <div class="part">
        <h3><i class="fa fa-code" aria-hidden="true"></i>OpenSource</h3>
        <ul>
            <li>Free forever for Open-Source</li>
            <li>Free (maybe forever) for others</li>
            <li>Your package manager is not yet implemented? Help us to add it!</li>
        </ul>
    </div>
</div>

<h1>In action</h1>

<div class="content">

    <div class="formTypes">
        <input id="videoGitlab" type="radio" name="type"  checked />
        <label id="videoGitlab-js" for="videoGitlab" class="selected"><i class="fa fa-gitlab" aria-hidden="true"></i> Add @botevol on gitlab</label>
        <input id="videoGithub" type="radio" name="type" />
        <label id="videoGithub-js" for="videoGithub"><i class="fa fa-github" aria-hidden="true"></i> Add @botevol on github</label>
    </div>

    <!-- <a href="images/workflow/workflow.jpg"><img src="images/workflow/workflow.jpg"></a> -->
    <video id="videoGitlab-video-js" src="videos/gitlab.mp4" controls>
        You can't read the cideo but you can <a href="videos/gitlab.mp4">download it</a> !
    </video>
    <video id="videoGithub-video-js" src="videos/github.mp4" controls style="display:none">
        You can't read the cideo but you can <a href="videos/github.mp4">download it</a> !
    </video>
</div>

<script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function() {
        var videoGitlabBtn = document.getElementById('videoGitlab');
        var videoGitlabLabel = document.getElementById('videoGitlab-js');
        var videoGitlabVideo = document.getElementById('videoGitlab-video-js');
        var videoGithubBtn = document.getElementById('videoGithub');
        var videoGithubLabel = document.getElementById('videoGithub-js');
        var videoGithubVideo = document.getElementById('videoGithub-video-js');
        videoGitlabBtn.addEventListener('click', function() {
            videoGitlabLabel.classList.add('selected');
            videoGithubLabel.classList.remove('selected');
            videoGithubVideo.style.display = 'none';
            videoGitlabVideo.style.display = '';
        });
        videoGithubBtn.addEventListener('click', function() {
            videoGithubLabel.classList.add('selected');
            videoGitlabLabel.classList.remove('selected');
            videoGitlabVideo.style.display = 'none';
            videoGithubVideo.style.display = '';
        });
    });
</script>

<h1>Package Managers</h1>

<ul class="pkgManagers">
    <li class="pkgManager">
        <a href="https://www.docker.com">
            <img class="logo" src="images/updaters/docker.png">
            <p>Docker</p>
        </a>
    </li>
    <li class="pkgManager">
        <a href="https://docs.docker.com/compose/">
            <img class="logo" src="images/updaters/docker-compose.png">
            <p>Docker-Compose</p>
        </a>
    </li>
    <li class="pkgManager">
        <a href="https://www.npmjs.com">
            <img class="logo" src="images/updaters/npm.svg">
            <p>NPM</p>
        </a>
    </li>
    <li class="pkgManager">
        <a href="https://gradle.org">
            <img class="logo" src="images/updaters/gradle.png">
            <p>Gradle</p>
        </a>
    </li>
    <li class="pkgManager">
        <a href="https://www.scala-sbt.org/">
            <img class="logo" src="images/updaters/sbt.png">
            <p>Sbt</p>
        </a>
    </li>
    <li class="pkgManager">
        <a href="https://maven.apache.org">
            <img class="logo" src="images/updaters/maven.png">
            <p>Maven</p>
        </a>
    </li>
    <li class="pkgManager">
        <a href="https://github.com/golang/dep">
            <img class="logo" src="images/updaters/godep.png">
            <p>Dep</p>
        </a>
    </li>
    <li class="pkgManager">
        <a href="https://pypi.python.org/pypi/pip">
            <img class="logo" src="images/updaters/python.png">
            <p>PIP</p>
        </a>
    </li>
    <li class="pkgManager">
        <a href="https://gitlab.com/ContinuousEvolution/continuous-evolution/issues">
            <img class="logo" src="images/updaters/needyou.jpg">
            <p>Your package manager</p>
        </a>
    </li>
</ul>

<blockquote>Not all packages managers have the same features. See more details in the <a href="https://continuousevolution.gitlab.io/continuous-evolution/readme">Readme</a>.</blockquote>

<h1>Try it!</h1>

<noscript>You have not javascript on your browser. Please read the <a href="https://continuousevolution.gitlab.io/continuous-evolution/advanced">documentation</a> to know how to launch Continuous Evolution.</noscript>
<div id="js-form" style="display:none">
    <div class="formTypes">
        <input id="typeBot" type="radio" value="Bot" name="type" checked />
        <label id="js-typeBotLabel" for="typeBot">I want to test it on the web with a bot</label>
        <input id="typeWeb" type="radio" value="Web" name="type" />
        <label id="js-typeWebLabel" for="typeWeb">I want to test it on the web with my account</label>
        <input id="typeLocal" type="radio" value="Local" name="type" />
        <label id="js-typeLocalLabel" for="typeLocal">I want to test it on my computer</label>
    </div>
    <div id="js-bot" class="formBlock">
        As you can see in video above, just add @botevol in gitlab (as member/Developer) or @botevol in github (as contributor). And after 1 hour you will have update of your dependencies. Every week it will refresh or create a new one.
    </div>
    <div id="js-web">
        <div class="formBlock">
            <p class="formError">Warning : Continuous-Evolution will push force on branch <b>ConEvolUpdateLibs</b>, check if branch already exist before launch a process.</p>
        </div>
        <div class="formBlock">
            <div>
                <input id="sourceGitlab" type="radio" value="gitlab" name="source" checked />
                <label for="sourceGitlab"><i class="fa fa-gitlab" aria-hidden="true"></i> My project is hosted on gitlab.com</label>
            </div>
            <div>
                <input id="sourceGithub" type="radio" value="github" name="source" />
                <label for="sourceGithub"><i class="fa fa-github" aria-hidden="true"></i> My project is hosted on github.com</label>
            </div>
        </div>
        <div class="formBlock">
            <div>
                <label for="url">My project is : </label>
                <input id="url" type="text" class="formInputText" placeholder="organisation/project" />
            </div>
            <div>
                <label for="login">My login is : </label>
                <input id="login" type="text" class="formInputText" placeholder="login" />
            </div>
            <div>
                <label for="token">My private token is <a href="https://continuousevolution.gitlab.io/continuous-evolution/faq/#why-do-you-need-private-token">need help<i class="fa fa-question" aria-hidden="true"></i></a>: </label>
                <input id="token" type="text" class="formInputText" placeholder="privateToken" />
            </div>
        </div>
    </div>
    <div id="js-local" style="display: none">
        <div class="formBlock">
            <label for="urlLocal">My project is located at : </label>
            <input id="urlLocal" type="text" class="formInputText" placeholder="/absolute/path/" />
        </div>
        <div class="formBlock">
            <input id="noReport" type="checkbox" value="report" />
            <label for="noReport">Do not push after update.</label>
        </div>
    </div>
    <div style="text-align:center">
        <button class="formBtn" id="js-formSubmit">Generate link</button>
    </div>
    <p>
        <a id="js-link" href="" style="display:none">Link generated, click to start update</a>
        <blockquote id="js-command" style="display:none"></blockquote>
    </p>
    <p id="js-error" style="display:none" class="formError"></p>
</div>

<script type="text/javascript">
window.addEventListener("DOMContentLoaded", function() {
    var form = document.getElementById("js-form");
    var bot = document.getElementById("js-bot");
    var web = document.getElementById("js-web");
    var local = document.getElementById("js-local");

    var typeBot = document.getElementById("typeBot");
    var typeBotLabel = document.getElementById("js-typeBotLabel");
    var typeWeb = document.getElementById("typeWeb");
    var typeWebLabel = document.getElementById("js-typeWebLabel");
    var typeLocal = document.getElementById("typeLocal");
    var typeLocalLabel = document.getElementById("js-typeLocalLabel");
    
    var sourceGitlab = document.getElementById("sourceGitlab");
    var sourceGithub = document.getElementById("sourceGithub");

    var url = document.getElementById("url");
    var login = document.getElementById("login");
    var token = document.getElementById("token");

    var urlLocal = document.getElementById("urlLocal");
    var noReport = document.getElementById("noReport");

    var formSubmit = document.getElementById("js-formSubmit");
    var link = document.getElementById("js-link");
    var command = document.getElementById("js-command");

    var error = document.getElementById("js-error");

    form.style.display = "block";

    var handleChangeType = function() {
        if(typeBot.checked) {
            bot.style.display = "block";
            web.style.display = "none";
            local.style.display = "none";
            formSubmit.innerHTML = "";
            formSubmit.style.display = "none";
            typeBotLabel.classList.add("selected");
            typeWebLabel.classList.remove("selected");
            typeLocalLabel.classList.remove("selected");
        } else if (typeWeb.checked) {
            bot.style.display = "none";
            web.style.display = "block";
            local.style.display = "none";
            formSubmit.innerHTML = "Generate link";
            formSubmit.style.display = "";
            typeBotLabel.classList.remove("selected");
            typeWebLabel.classList.add("selected");
            typeLocalLabel.classList.remove("selected");
        } else {
            bot.style.display = "none";
            web.style.display = "none";
            local.style.display = "block";
            formSubmit.innerHTML = "Generate command";
            formSubmit.style.display = "";
            typeBotLabel.classList.remove("selected");
            typeWebLabel.classList.remove("selected");
            typeLocalLabel.classList.add("selected");
        }
        link.style.display = "none";
        command.style.display = "none";
        error.style.display = "none";
    };

    typeBot.addEventListener("click", handleChangeType);
    typeWeb.addEventListener("click", handleChangeType);
    typeLocal.addEventListener("click", handleChangeType);

    formSubmit.addEventListener("click", function() {
        error.style.display = "none";
        if (typeWeb.checked) {
            if (login.value === "" || token.value === "" || url.value === "") {
                link.style.display = "none";
                error.style.display = "block";
                error.innerHTML = "URL, login and token are mandatory!"
                return;
            }
            var source = sourceGitlab.checked ? "gitlab.com/" : "github.com/";
            link.style.display = "block";
            var href = "https://conevol.team-froggies.fr/addProject?project=https://"+login.value+":"+token.value+"@"+source+url.value+".git";
            link.setAttribute("href", href);
            link.innerHTML = "Link generated, click to start update : "+href;
        } else {
            if (urlLocal.value === "") {
                link.style.display = "none";
                error.style.display = "block";
                error.innerHTML = "URL is mandatory!"
                return;
            }
            command.style.display = "block";
            command.innerHTML = "docker run -it --rm -v /tmp:/tmp -v /var/run/docker.sock:/var/run/docker.sock -v "+urlLocal.value+":/project registry.gitlab.com/continuousevolution/continuous-evolution:latest -url /project/";
            if (noReport.checked) {
                command.innerHTML += "--no-report";
            }
        }
    });

    handleChangeType();
});
</script>